.question-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.question-container > label {
  margin: 0px 10px;
}

.passage-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.passage-container > label {
  margin: 0px 14px;
}

.find-answer-btn {
  padding: 5px;
  transition: transform 0.3s;
}
.find-answer-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.answer-container {
  display: flex;
  align-items: center;
}

.answer-container > label {
  margin: 0px 14px;
}
.answer-container > textarea {
  background-color: #d3d1d1;
  width: 500px;
  height: 200px;
  margin: 10px 0px;
}
